{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}


<div class="main-navigation">
{{page.main_navigation}}
</div>


<div class="header">
  {{ page.header }}
</div>


  <div class="livestream">
  <div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="true" class="embed-responsive-item" src="https://livestream.com/accounts/25937168/events/7713617/player?enableInfoAndActivity=true&amp;defaultDrawer=&amp;autoPlay=true&amp;mute=false"></iframe></div>




<div class="gcalendar embed-responsive embed-responsive-16by9">

{{attach_library('makerparktheme/gcalendar')}}

  <iframe src="https://calendar.google.com/calendar/embed?src=antounsawires%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="600" height="650" frameborder="10" scrolling="no"></iframe>


  <style class="stylish" type="text/css">

  .gcalendar {
	-webkit-filter: invert(90%) hue-rotate(180deg);
	filter: invert(90%) hue-rotate(180deg);
	background: rgb(25, 25, 25);

  #onegoogbar a[href^="https://accounts.google.com"],
  #onegoogbar a[href="javascript:_SR_backToCalendar();"],
  #gb a[href^="https://accounts.google.com"],

	-webkit-filter: invert(100%) hue-rotate(180deg);
	filter: invert(100%) hue-rotate(180deg);
  }

</style>
</div>

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}



  </div>









  {# /.layout-content #}

  {#    % if page.sidebar %}
       <aside class="layout-sidebar-first" role="complementary">
        { page.sidebar }}
       </aside>
     % endif %}

  #}
{# /.layout-container #}
