{{ attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}


  <main role="main">
<<<<<<< HEAD

    <div class="main-navigation">

      {{page.main_navigation}}
      {{ page.header }}

    </div>

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">

      {{ page.content }}

    </div>{# /.layout-content #}


=======
      {{ page.header }}
      {{page.main_navigation}}
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      {{ page.content }}
>>>>>>> 9e468e39457b0614a83029b9c1f108a2febf30a3
    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
<<<<<<< HEAD

</div>{# /.layout-container #}
=======
>>>>>>> 9e468e39457b0614a83029b9c1f108a2febf30a3
