<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
      {{attach_library('makerparktheme/active')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>

    <main class="main-area">

      <div class="centered">

        <section class="cards">

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/ASMT-300x300.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Art School Mixtape w/DJ Dari Queen</h2>
                <p class="card-text collapse" id="viewdetails1">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music. Here at Art School Mixtape, we don’t discriminate. New Wave, Hip Hop, Electronic, Fuzz Guitar, even Spoken Word. We touch all of it. Without permission.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/bimonthlydis.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h2>
                <p class="card-text collapse" id="viewdetails9">Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.
                  As there will be questions at the end of the program, please be sure to have your pens and pencils at the ready as we dig deep into the WTF bin, examine that fruit on air so you don’t have to, and then look forward to discussing what you got from it all, in our FB group or in a quick jab at our Twitter account.
                  Jason + Rudy fb.me/zeroitems.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails9">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/breakglassjazz.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Break In Case of Emergency Jazz</h2>
                <p class="card-text collapse" id="viewdetails4">“Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name, it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!

</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/catsgotsoul.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Cats Got Soul w/Kitty</h2>
                <p class="card-text collapse" id="viewdetails5"> Fat tracks from the 50s and 60s! Soul, R&B and Doo-Wop on 7″ vinyl.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="https://www.instagram.com/podcatsradio/"class="btn btn-warning">Instagram</a> </p>  <a href="https://www.podcats.nyc"class="btn btn-warning">Website</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/centricdaemonae.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Centric w/Daé Monae</h2>
                <p class="card-text collapse" id="viewdetails6">Our Show is called “Centric”. On Centric, we get to discuss positive energy, healing, music, current events, and most things eccentric or different.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/channelswinds.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Channels & Winds w/Ray</h2>
                <p class="card-text collapse" id="viewdetails7">Channels and Winds brings you an eclectic blend of today’s Bottom 40 hits from all major genres, from Reptilian Disco to Sock-Hop Soul. Ray, your host, will engage a menagerie of wide-eyed guests in conversation about music, art, politics, culture, garbage, anger, and other elitist intellectual pursuits that you’re sick of hearing about already. Contests.

          Every other Wednesday 4pm – 6pm</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails7">Show Info</a> <a href="https://www.instagram.com/channelsandwinds/"class="btn btn-warning">Instagram</a> </p> <a href="https://www.facebook.com/channelsandwinds"class="btn btn-warning">Facebook</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/classicalish.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Classical-ish w/Nutmeg</h2>
                <p class="card-text collapse" id="viewdetails8">Classical-ish is an intrepid foray into the genre non-conforming outer edges of the classical universe, where women who make beautiful noise, non-Western modalities, sonic experimentation and composers of color are what’s happening. Join host Nutmeg as she sets out to prove that there’s more to classical music than just old white dudes.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails8">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/clavecalaidoscope.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Clave Calaidoscope</h2>
                <p class="card-text collapse" id="viewdetails2">The Clave Calidoscope brings you clave infused music from Puerto Rico, New York City and other parts of the world. Tune in and enjoy classic Latin music, Salsa, Latin Jazz and clave inspired selections from the golden era of these genres.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails2">Show Info</a> <a href="https://twitter.com/Papa_Gute"class="btn btn-warning">Twitter</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/compositebeast.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Composite Beast</h2>
                <p class="card-text collapse" id="viewdetails13">Dark tales of aliens, monsters, and other paranormal silliness over vast, deep, and wonderful selections of soul, funk, gospel, reggae, hip-hop, world, garage, psychedelic and many more unexplained sounds.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails13">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/danmackta.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Dan Mackta</h2>
                <p class="card-text collapse" id="viewdetails14">Freeform music radio inspired by life on Staten Island’s North Shore.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails14">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/DJ-H20-300x225.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>DJ H20</h2>
                <p class="card-text collapse" id="viewdetails15">DJ H2O’s talk show is a radio segment discussing trending brands like Addias, Nike, Off-White, Supreme, Bape, etc. Additionally I’ll be performing and producing beats live on air, as well as latest music selections.
                  There will also be guests participating in the segment and in the future celebrity guests.
                  Stay tuned!</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails15">Show Info</a> <a href="https://www.instagram.com/dj.h2o/?hl=en"class="btn btn-warning">Instagram</a> <a href="https://www.facebook.com/IAMDJH2O/about/?ref=page_internal"class="btn btn-warning">Facebook</a> <a href="http://www.djh20.com/"class="btn btn-warning">Webiste</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/djthrilla.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>DJ Thrilla’s United DJs Freshstyles</h2>
                <p class="card-text collapse" id="viewdetails16">A “Soul Kitchen” featuring a blend of Hip Hop, Dance, Classic Rock & Salsa. Mixin’ It Up!</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails16">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>



          <!-- .card -->

        </section>
        <!-- .cards -->

      </div>
      <!-- .centered -->

    </main>
  <style>
    body {font-family: sans-serif;}
    p {color: #333333;}

    h2 {
      font-size: 2em;
      color: #e74c3c;
    }
    .centered {
        margin: 0 auto;
        padding: 0 1em;
    }

    @media screen and (min-width: 52em) {
        .centered {
            padding-top: 35px;
            max-width: 82em;
        }
    }

    /*--------------------------------------------------------------
    Header styles minus menu
    --------------------------------------------------------------*/

    .masthead {
        background: #e74c3c;
        box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .site-title {
        margin: 0 0 1em;
        padding: 1em 0;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        color: black;
    }

    @media screen and (min-width: 44.44em) {
        .site-title {
            padding-top: 50px;
            font-size: 2em;
        }
    }

    @media screen and (min-width: 100em) {
        .site-title {
          padding-top: 50px;
            font-size: 2.5em;
        }
    }

    .site-title a {
        color: hsl(5, 45%, 95%);
        text-decoration: none;
    }

    .site-title a:hover {
        text-decoration: underline;
    }

    /* Card Based Layout - Base styles */
    body {
      background: #333333;
      line-height: 1.4;
    }

    .site-title {
      color: white;
    }

    .card {
      background: white;
      margin-bottom: 2em;
    }

    .card a {
      color: black;
      text-decoration: none;
    }

    .card a:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .card-content {
      padding: 1.4em;
    }

    .card-content h2 {
      margin-top: 0;
      margin-bottom: .5em;
      font-weight: normal;
    }

    .card-content p {
      font-size: 95%;
    }

    img {
      width: 100%;
      height: auto;
    }

    /* Flexbox styles */
    @media screen and (min-width: 40em) {
      .cards {
        padding-top: 50px;
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .card {
        margin-bottom: 1em;
        display: flex;
        flex: 0 1 calc(50% - 0.5em);
        width: calc(50% - 1em);
      }
    } /* mq 40em*/

    @media screen and (min-width: 60em) {
      .cards {
        padding-top: 50px;
        margin-top: inherit;
      }

      .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
        /* width: calc(33% - 1em); */
      }
    } /* mq 60em*/
  </style>
  </div>
</div>
