{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}
{{attach_library('makerparktheme/moment')}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" charset="utf-8"></script>

<header role="banner">
{{ page.header }}

<div class="main-navigation">

  {{page.main_navigation}}

</div>
</header>

<head>
{{attach_library('mprcalendar')}}
</head>

<body>

  <div id='calendar'></div>

</body>
