{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}
  {{attach_library('makerparktheme/active')}}

<header role="banner">
{{ page.header }}

<div class="main-navigation">

  {{page.main_navigation}}

</div>
</header>

<body>

  <div class="container gcalendar">
    <div data-tockify-component="calendar" data-tockify-calendar="mprcal"></div>
   <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
  </div>

</body>
