<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
      {{attach_library('makerparktheme/active')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>


    <main class="main-area">

      <div class="centered">

        <section class="cards">

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/SIArts.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Creative Endeavors w/Staten Island Arts</h2>
                <p class="card-text collapse" id="viewdetails1">Creative Endeavors hopes to inform the community about Staten Island’s arts council, Staten Island Arts. The show will feature projects and opportunities connected to SI Arts as well as informing the community about all the programs SI Arts offers. The show will be used to highlight past SI Arts grantee projects along with informing people about upcoming grantee projects they can experience in their own neighborhoods. Through interviews with artists/creators/makers the show will explore the greatest benefits of exercising creativity. The expression of creative ideas and how that expression can lead to facing the fear of failure, building self-worth, and seeing the world differently.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
              <!-- .card-content -->
            </a>
          </article>
