{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}
{{attach_library('makerparktheme/videojs')}}

<link href="node_modules/video.js/dist/video-js.min.css" rel="stylesheet">
<script src="node_modules/videojs-vtt.js/dist/videojs-vtt.js"></script>
<script src="node_modules/video.js/dist/video.min.js"></script>
<script>
  videojs.options.flash.swf = "node_modules/video.js/dist/video-js.swf"
</script>


<div class="main-navigation">
{{page.main_navigation}}
</div>


<div class="header">
  {{ page.header }}
</div>


  <div class="livestream">
  <div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="true" class="embed-responsive-item" src="https://livestream.com/accounts/25937168/events/7713617/player?enableInfoAndActivity=true&amp;defaultDrawer=&amp;autoPlay=true&amp;mute=false"></iframe></div>


<div class="embed-responsive embed-responsive-16by9" data-tockify-component="calendar" data-tockify-calendar="antoun"></div>
<script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}

  </div>









  {# /.layout-content #}

  {#    % if page.sidebar %}
       <aside class="layout-sidebar-first" role="complementary">
        { page.sidebar }}
       </aside>
     % endif %}

  #}
{# /.layout-container #}
