{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}
{{attach_library('makerparktheme/fullcalendar')}}
{{attach_library('makerparktheme/moment')}}


<div class="main-navigation">
{{page.main_navigation}}
</div>


<div class="header">
  {{ page.header }}
</div>


  <div class="livestream">
  <div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="true" class="embed-responsive-item" src="https://livestream.com/accounts/25937168/events/7713617/player?enableInfoAndActivity=true&amp;defaultDrawer=&amp;autoPlay=true&amp;mute=false"></iframe></div>


    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}
  </div>









  {# /.layout-content #}

  {#    % if page.sidebar %}
       <aside class="layout-sidebar-first" role="complementary">
        { page.sidebar }}
       </aside>
     % endif %}

  #}
{# /.layout-container #}
