<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
    {{attach_library('makerparktheme/active')}}

  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>

    <main class="main-area">

      <div class="centered">

        <section class="cards">

          <article class="card">
            <a >
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/ASMT-300x300.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Art School Mixtape w/DJ Dari Queen</h2>
                <p class="card-text collapse" id="viewdetails1">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music. Here at Art School Mixtape, we don’t discriminate. New Wave, Hip Hop, Electronic, Fuzz Guitar, even Spoken Word. We touch all of it. Without permission.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a class="btn btn-warning">Instagram</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a>
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/bimonthlydis.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h2>
                <p class="card-text collapse" id="viewdetails9">Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.
                  As there will be questions at the end of the program, please be sure to have your pens and pencils at the ready as we dig deep into the WTF bin, examine that fruit on air so you don’t have to, and then look forward to discussing what you got from it all, in our FB group or in a quick jab at our Twitter account.
                  Jason + Rudy fb.me/zeroitems.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails9">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/breakglassjazz.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Break In Case of Emergency Jazz</h2>
                <p class="card-text collapse" id="viewdetails4">“Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name, it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!

</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a class="btn btn-warning">Instagram</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/catsgotsoul.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Cats Got Soul w/Kitty</h2>
                <p class="card-text collapse" id="viewdetails5"> Fat tracks from the 50s and 60s! Soul, R&B and Doo-Wop on 7″ vinyl.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="https://www.instagram.com/podcatsradio/"class="btn btn-warning">Instagram</a> <a href="https://www.podcats.nyc"class="btn btn-warning">Website</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/centricdaemonae.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Centric w/Daé Monae</h2>
                <p class="card-text collapse" id="viewdetails6">Our Show is called “Centric”. On Centric, we get to discuss positive energy, healing, music, current events, and most things eccentric or different.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a >
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/channelswinds.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Channels & Winds w/Ray</h2>
                <p class="card-text collapse" id="viewdetails7">Channels and Winds brings you an eclectic blend of today’s Bottom 40 hits from all major genres, from Reptilian Disco to Sock-Hop Soul. Ray, your host, will engage a menagerie of wide-eyed guests in conversation about music, art, politics, culture, garbage, anger, and other elitist intellectual pursuits that you’re sick of hearing about already. Contests.

          Every other Wednesday 4pm – 6pm</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails7">Show Info</a> <a href="https://www.instagram.com/channelsandwinds/"class="btn btn-warning">Instagram</a> <a href="https://www.facebook.com/channelsandwinds"class="btn btn-warning">Facebook</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a >
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/classicalish.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Classical-ish w/Nutmeg</h2>
                <p class="card-text collapse" id="viewdetails8">Classical-ish is an intrepid foray into the genre non-conforming outer edges of the classical universe, where women who make beautiful noise, non-Western modalities, sonic experimentation and composers of color are what’s happening. Join host Nutmeg as she sets out to prove that there’s more to classical music than just old white dudes.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails8">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/clavecalaidoscope.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Clave Calaidoscope</h2>
                <p class="card-text collapse" id="viewdetails2">The Clave Calidoscope brings you clave infused music from Puerto Rico, New York City and other parts of the world. Tune in and enjoy classic Latin music, Salsa, Latin Jazz and clave inspired selections from the golden era of these genres.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails2">Show Info</a> <a href="https://twitter.com/Papa_Gute"class="btn btn-warning">Twitter</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/compositebeast.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Composite Beast</h2>
                <p class="card-text collapse" id="viewdetails13">Dark tales of aliens, monsters, and other paranormal silliness over vast, deep, and wonderful selections of soul, funk, gospel, reggae, hip-hop, world, garage, psychedelic and many more unexplained sounds.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails13">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/danmackta.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Dan Mackta</h2>
                <p class="card-text collapse" id="viewdetails14">Freeform music radio inspired by life on Staten Island’s North Shore.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails14">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/DJ-H20-300x225.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>DJ H20</h2>
                <p class="card-text collapse" id="viewdetails15">DJ H2O’s talk show is a radio segment discussing trending brands like Addias, Nike, Off-White, Supreme, Bape, etc. Additionally I’ll be performing and producing beats live on air, as well as latest music selections.
                  There will also be guests participating in the segment and in the future celebrity guests.
                  Stay tuned!</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails15">Show Info</a> <a href="https://www.instagram.com/dj.h2o/?hl=en"class="btn btn-warning">Instagram</a> <a href="https://www.facebook.com/IAMDJH2O/about/?ref=page_internal"class="btn btn-warning">Facebook</a> <a href="http://www.djh20.com/"class="btn btn-warning">Webiste</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/djthrilla.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>DJ Thrilla’s United DJs Freshstyles</h2>
                <p class="card-text collapse" id="viewdetails44">A “Soul Kitchen” featuring a blend of Hip Hop, Dance, Classic Rock & Salsa. Mixin’ It Up!</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails44">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/donebeenplayed.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Done Been Played</h2>
                <p class="card-text collapse" id="viewdetails17">The past does not repeat itself, but it rhymes. ~ Mark Twain ~

                Join Carol Hooper on a genre bending musical adventure to discover the many ways artists have made modern classics all their own: from Eddie Hazel’s psychedelic funk interpretation of California Dreamin’ to James Vincent McMorrow’s acoustic reimagining of Willow Smith’s Whip My Hair and back.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails17">Show Info</a>  <a href="https://www.facebook.com/Done-Been-Played-1879844052283933/"class="btn btn-warning">Facebook</a></p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/electrosteam.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Electro Steam w/DJ Ed Ka</h2>
                <p class="card-text collapse" id="viewdetails18">Ed Kabatsky, aka EDKA, Staten Islander since 2009, has been involved
                in electronic dance music as a producer since the early 90’s when rave
                culture was just beginning in New York. Inspired, he began
                experimenting with analog synths, drum-machines, sequencers, samplers
                and turntables. While mainly focusing on studio work, from time to
                time he has been involved as an organizer, performer or promoter in
                numerous rave events all around New York.

                Originally born in Moscow, Russia, the music culture that he grew up
                with fostered his aspiration to be part of New York’s Russian music
                underground community and participated in many events and music
                festivals. During his later endeavors, Ed is focused on mixing
                experimental electronic music with acoustic instruments to create
                downtempo, chillout atmosphere with elements of ethnic mood. At
                MakerPark Radio he will present mixtures of harmonic vibration to
                stimulate and relax your mind.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails18">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/gazzagrovy.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Gazza’s Groovy Culture Clash</h2>
                <p class="card-text collapse" id="viewdetails19">From near and far, old and new, I will be playing the finest in funk, soul, reggae, house and anything groovy that takes my fancy.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails19">Show Info</a><a href="https://www.facebook.com/gazzasgroovycultureclash/"class="btn btn-warning">Facebook</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                  <img src="/sites/default/files/mprshows/mprlogo.png" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Hardcore Easy Listening w/Johnny D. In the Place to be as you can Plainly See</h2>
                <p class="card-text collapse" id="viewdetails20">A savory- yet saccharine, melange of sleaze and cheese, bridging the gap from 2 Live Crew to Zamfir (Master of the Panflute). Turn up your Hi-Fi and prepare to be dazzled by gentle waves of audio pleasure. Please listen responsibly.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails20">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/hibrido.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Hibrido Literario: Literature & Music</h2>
                <p class="card-text collapse" id="viewdetails21"></p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails21">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/hiddengems.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Hidden Gems – Hosted by DJ Gary</h2>
                <p class="card-text collapse" id="viewdetails22">Two hours of deep cuts from your favorite Classic Rock Artists, the best in Alternative Rock, New Music and those tracks that you haven’t heard in years.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails22">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/islandjams.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Island Jams w/Kat</h2>
                <p class="card-text collapse" id="viewdetails23">As a lifelong Staten Islander, Kat is familiar with all the wonderful things the Island has to offer, including great local music. Every other Sunday on Island Jams, Kat will interview a new local artist about their work. In the “Jam-Packed” round of questions, Kat will ask the artists rapid fire questions about anything from “What artist they would host a dinner party with?” to “If they could only listen to one record for the rest of their life, what would it be?” Artists will also perform their jams live on air. Tune into Island Jams for some great local flavor.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails23">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/scallywag.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Jay Gray – Scallywag Beats</h2>
                <p class="card-text collapse" id="viewdetails24">Londoner Jay Gray brings to you a mixture of rock, indie, soul, punk, blues, ska, reggae and whatever else takes his fancy! He will begin his tour of music with a British-influenced show before turning his sights to the world stage.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails24">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/kriswallace.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Kris Wallace</h2>
                <p class="card-text collapse" id="viewdetails25">Melodic House that drifts into deep-tech, techno & electronic.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails25">Show Info</a> <a href="https://www.instagram.com/officialkriswallace/?hl=en"class="btn btn-warning">Instagram</a> <a href="https://www.facebook.com/OfficialKrisWallace/"class="btn btn-warning">Facebook</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/mprlogo.png" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Lak Nadha</h2>
                <p class="card-text collapse" id="viewdetails26">Sri Lankan Children’s Show, cultural, educational show and Sri Lankan songs with participation of young generation.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails26">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/musicilike.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Music I Like w/Fletcher</h2>
                <p class="card-text collapse" id="viewdetails27">MUSIC I LIKE is exactly what the title says – music that sends a quiver down my backbone. The show focuses on rock ‘n’ roll from the 50s through the early 90s. you’ll hear rockabilly, through psychedelia and heavy blues, through the best days of punk and metal, to the heady days of what used to be called college radio. Along the way there’ll be stops with the Mods, Detroit’s heavy bands, the UK’s pub rockers, and all sorts of extravagant prog bands. Expect little-heard album tracks from big names as well as very cool music from undeservedly forgotten scenes and artists, as well as some surprises and curve balls every now and then.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails27">Show Info</a>  <a href="https://twitter.com/IslandWasp"class="btn btn-warning">Twitter</a> <a href="https://www.facebook.com/IslandWasp/"class="btn btn-warning">Facebook</a> <a href="http://musicilikesi.blogspot.com/"class="btn btn-warning">Website</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/mutecity.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Mute City Mixtape w/Danny Nelson</h2>
                <p class="card-text collapse" id="viewdetails28">Old school hip-hop (mostly 90’s, some early 2000’s) mixed with hip-hop and R&B. From singles to album cuts to B-Sides.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails28">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/nowherefast.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Nowhere Fast w/Tom F.</h2>
                <p class="card-text collapse" id="viewdetails29">Blasting through time and space is the grit of the red-lined vocal, the bleeding mic and guitar feedback…. holding pace from 1953 till 2023 are sounds that feel good and sounds that feel…Bad. Hold on to that thought, we are going Nowhere Fast.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails29">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/onetimeforyourmind.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>One Time For Your Mind …A Sonic Smorgasboard</h2>
                <p class="card-text collapse" id="viewdetails30">Hosted by Jim Murphy

You’ll never know what to expect as I mine the depths for deep grooves, sonic beauty, immortal rhymes, incomparable vibes, hard-rocking, ancient expressions, soulful exhortations, seasonal goodies, and more. I’ll spin everything from old school hip-hop to early classical music, from ambient space to 70’s disco-funk, from reggae to bluegrass, and everything in between. This show is about sonic discovery, plain and simple. Digging in the crates.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails30">Show Info</a>  <a href="https://www.instagram.com/onetimeforyourmindradio/?hl=en"class="btn btn-warning">Instagram</a></p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/rhythmsection.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Rhythm Selection w/Giles Dickerson</h2>
                <p class="card-text collapse" id="viewdetails31">What exactly is that magical “thing” a song has hidden between the lines in the music that gives you an uncontrollable desire to dance? Rhythm Selection is a 2 hour live streaming mixshow in NYC that explores this topic weekly every Friday from 8pm – 10pm EST. The show is hosted by Giles Dickerson, a collector / DJ / producer / record label owner, and will feature frequent guests from the world of underground dance music, discussing their experiences making and releasing dance music, running record labels, DJing, throwing parties, and most importantly: digging for that next amazing song discovery. Something new, something old, quality dance tracks since 2017.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails31">Show Info</a> <a href="https://twitter.com/rhythmselection"class="btn btn-warning">Twitter</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/rushhour.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Rush Hour w/DJ HO</h2>
                <p class="card-text collapse" id="viewdetails32">Bringing the beats from the late 80’s to the early 90’s . The music that keeps you moving just in time for the Rush Hour.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails32">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/shepopshow.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>She Pop Show</h2>
                <p class="card-text collapse" id="viewdetails33">Kitty the Disc Jockey plays decades of rock, pop and soul, featuring the best chick singers from around the world.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails33">Show Info</a> <a href="https://twitter.com/kittyvinyldj"class="btn btn-warning">Twitter</a> <a href="https://www.facebook.com/kittythedj"class="btn btn-warning">Facebook</a></p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/sofaking.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Sofa King HipHop Radio</h2>
                <p class="card-text collapse" id="viewdetails34">Where the conversation about music production has a home. Beats, Talk, and Dope Music! It’s show about production, tech talk and the best products available for your production needs. New and classic hiphop, jazz ,funk and world music set the tone for our discussions.
Presented by PhitzDaDescription</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails34">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/sonicflow.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Sonic Flow w/Udachi</h2>
                <p class="card-text collapse" id="viewdetails35">Greg Pesochin, aka Udachi, is a New York-based, electronic music producer whose visionary work fuses a wide-screen psychedelic approach, informed by Pink Floyd, to the dirty, low-end hum of what writer Simon Reynolds calls “the post-hardcore continuum.” His sound is the result of a journey as a person and DJ, from his place of birth in Ukraine in 1981, as a skater kid in the ‘90s listening to metal and hardcore through to the early 2000s when his ears were informed by the Staten Island roller rinks, with their disco and freestyle soundtrack, and the dance floors of New York bacchanals like The Tunnel, which were driven by heady blends of high velocity rave music and dark, driving progressive house.

While in college, during the same period, Greg spent four years hosting and djing on a weekly dance music radio show that featured guests such as drum n bass and bass music legend Reid Speed and leading-edge producer and remixer, Omar Santana. In 2002 he began producing his own music and by 2005 he had connected with fellow producer AC Slater, who introduced him to a wide array of electronic music genres, including house, dubstep, bass, breaks, drum n bass and classic rave music. The music of contemporary artists like Boxcutter, Drop The Lime and Benga really made an impression on Greg.

2007 saw him creating the name Udachi for his music project, which has crafted some remarkable original productions and remixes. Greg’s discography includes releases for NY’s Trouble & Bass, remixes for Audio Bullys, AC Slater, Rico Tubbs, M83 and a remix of “The Whip” by Foxsky on Diplo’s Mad Decent label. His own productions such as “Smoke Rings” with a vocalist Jess Jubillee, and “P-Funk Skank” charted extremely well and were enthusiastically received by fans and other artists alike.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails35">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/soundevo.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Sound Evolution Radio</h2>
                <p class="card-text collapse" id="viewdetails36">A sonic distribution of the personalities, inner thoughts and visions of the people behind two of Staten Island’s newest and brightest music companies, Kreischer Mansion Studios and SoundEvolution Music. This show intends to provide a look behind the curtain for what happens when a recording studio and record label team up to create an environment for musicians, by musicians. We’ll play music from all genres, bring in bands to play live, have some surprise guests and interviews and discuss what it’s like to collaborate and create together. Kreischer Evolution Radio…it’s about time!”</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails36">Show Info</a> <a href="https://soundevolutionmusic.com/"class="btn btn-warning">Website</a> <a href="https://www.instagram.com/soundevolutionmusic/?hl=en"class="btn btn-warning">Instagram</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/Soundsoftheundergound.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Sounds of the Underground w/Luke Larson</h2>
                <p class="card-text collapse" id="viewdetails37">I’m Luke Larson and its always been a passion of mine to make people dance.  Djing is my profession and the DJ booth is my office.
Guest DJ’s and I will be spinning a variety of genres from the NYC underground dance scene.  Join me for a listen!
</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails37">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/stairwellsessions.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Stairwell Sessions & Beyond</h2>
                <p class="card-text collapse" id="viewdetails38">While young DJs spun classics in Disco, R&B, Funk, Soul, Salsa & House, I listened in a basement stairwell in Brooklyn. Come join me beyond the stairwell as I share the classics and new music with you.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails38">Show Info</a>  <a href="https://twitter.com/2017SSB"class="btn btn-warning">Twitter</a> <a href="https://www.instagram.com/2017ssb/?hl=en"class="btn btn-warning">Instagram</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/steelohimradio.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Steelohim Radio w/ DJ Kinetic & DJ D. Spliff</h2>
                <p class="card-text collapse" id="viewdetails39">Discussing Hip Hop music and culture, DJ Kinetic will be playing indie bangers, classics, deep album cuts, & demos to find diamonds in the rough.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails39">Show Info</a>   <a href="https://www.instagram.com/steelohim/?hl=en"class="btn btn-warning">Instagram</a> <a href="https://www.facebook.com/steelohim"class="btn btn-warning">Facebook</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/twodrinkmin.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Two Drink Minimum</h2>
                <p class="card-text collapse" id="viewdetails40">Two Drink Minimum is a show about beer and making stuff — whether that’s music, sculpture or just more booze. Every episode pairs a brewer with a local artist to talk about the creative process. It’s a celebration of consumption and creation.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails40">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/VinnieMegundo.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Vinnie Megundo</h2>
                <p class="card-text collapse" id="viewdetails41">Dance music of today and yesterday</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails41">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a >
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/worldenrageradio.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>World Enrage Radio</h2>
                <p class="card-text collapse" id="viewdetails42">World Enrage radio featuring Mike Pelle & Jeff Enrage playing the best in metal, hardcore, punk & local music.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails42">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a>
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/younameit.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>You Name It w/Rory Merola</h2>
                <p class="card-text collapse" id="viewdetails43">YNI with local musician Rory Merola is a multi genre, depth delving harkening in to the lesser known music spanning the 70’s to the present. Disclaimer: You might learn something while enjoying the sounds.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails43">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>



          <!-- .card -->

        </section>
        <!-- .cards -->

      </div>
      <!-- .centered -->

    </main>
  <style>
    body {font-family: sans-serif;}
    p {color: white;}

    h2 {
      font-size: 2em;
      color: #e74c3c;
    }
    .centered {
        margin: 0 auto;
        padding: 0 1em;
    }

    @media screen and (min-width: 52em) {
        .centered {
            padding-top: 35px;
            max-width: 82em;
        }
    }

    /*--------------------------------------------------------------
    Header styles minus menu
    --------------------------------------------------------------*/

    .masthead {
        background: #e74c3c;
        box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .site-title {
        margin: 0 0 1em;
        padding: 1em 0;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        color: black;
    }

    @media screen and (min-width: 44.44em) {
        .site-title {
            padding-top: 50px;
            font-size: 2em;
        }
    }

    @media screen and (min-width: 100em) {
        .site-title {
          padding-top: 50px;
            font-size: 2.5em;
        }
    }

    .site-title a {
        color: hsl(5, 45%, 95%);
        text-decoration: none;
    }

    .site-title a:hover {
        text-decoration: underline;
    }

    /* Card Based Layout - Base styles */
    body {
      background: #333333;
      line-height: 1.4;
    }

    .site-title {
      color: white;
    }

    .card {
      background: grey;
      margin-bottom: 2em;
    }

    .card a {
      color: white;
      text-decoration: none;
    }

    .card a:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .card-content {
      padding: 1.4em;
    }

    .card-content h2 {
      margin-top: 0;
      margin-bottom: .5em;
      font-weight: normal;
      color: white;

    }

    .card-content p {
      font-size: 95%;
    }

    img {
      width: 100%;
      height: auto;
    }

    /* Flexbox styles */
    @media screen and (min-width: 40em) {
      .cards {
        padding-top: 50px;
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .card {
        margin-bottom: 1em;
        display: flex;
        flex: 0 1 calc(25% - 0.5em);
        width: calc(25% - 1em);
      }
    } /* mq 40em*/

    @media screen and (min-width: 60em) {
      .cards {
        padding-top: 50px;
        margin-top: inherit;
      }

      .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
        /* width: calc(33% - 1em); */
      }
    } /* mq 60em*/
  </style>
  </div>
</div>
