<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
      {{attach_library('makerparktheme/active')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>


    <main class="main-area">

      <div class="centered">

        <section class="cards">

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/SIArts.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Creative Endeavors w/Staten Island Arts</h2>
                <p class="card-text collapse" id="viewdetails1">Creative Endeavors hopes to inform the community about Staten Island’s arts council, Staten Island Arts. The show will feature projects and opportunities connected to SI Arts as well as informing the community about all the programs SI Arts offers. The show will be used to highlight past SI Arts grantee projects along with informing people about upcoming grantee projects they can experience in their own neighborhoods. Through interviews with artists/creators/makers the show will explore the greatest benefits of exercising creativity. The expression of creative ideas and how that expression can lead to facing the fear of failure, building self-worth, and seeing the world differently.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/MakeHERspace.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>MakeHERspace w/Magie</h2>
                <p class="card-text collapse" id="viewdetails9">In a time where female empowerment is both on the uprise but also very much in need, it is through the arts that a literal and metaphorical voice is created to engage the community. makeHERspace radio hour is an outlet to broadcast women from all walks of life such as artists, musicians, business owners, public figures, and more. Through interviews, stories, anecdotes, poetry, writing, and music, our goal is to showcase women and inspire and educate listeners. makeHERspace radio hour is created and hosted by Magie Serpica who has a dynamic list of achievements as a contributing member to the arts within the Staten Island community. Magie is a local artist, tattooer, business owner, curator, writer, musician and mother of two, and is an activist in the world of feminism and women’s rights.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails9">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/Nothingpersonal.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Nothing Personal</h2>
                <p class="card-text collapse" id="viewdetails4">Nothing Personal is an irreverent comedy & music show featuring Stephen Ignatious (of Cringeworthy Show and In Strange Company Podcast) and guests for a bi-weekly adventure with NYC’s hottest comics, artists, and performers and jams that will make your ears go “whoah!” and “what??” at the same time! Two hours of pure unadulterated chaos, comedy, and confusion!</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/podcats.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Podcats</h2>
                <p class="card-text collapse" id="viewdetails5">Attention cat lovers! Do you need a weekly dose of cats to get you through the week? Is your own cat just not cutting it?

            Look no further! Tune in to Podcats to see fellow cat fanatics, and of course, their purr-fect cats! Listen meow!

            Podcatsradionyc@gmail.com

            </p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="https://www.instagram.com/podcatsradio/"class="btn btn-warning">Instagram</a> </p>  <a href="https://www.podcats.nyc"class="btn btn-warning">Website</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="#" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Hip Hop Taught Me</h2>
                <p class="card-text collapse" id="viewdetails6">Hip Hop Taught Me is a monthly show that interviews emerging artists and producers about their musical influences. Artists will have an opportunity to promote their sound by curating half the show and discussing their selections.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/urbanfarmchat.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Urban Farm Chat</h2>
                <p class="card-text collapse" id="viewdetails7">Host and Urban Farmer Asher Landes will explore all things farming, food and the role we all play in the future of our food system.

          Every other Wednesday 4pm – 6pm</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails7">Show Info</a> <a href="https://www.instagram.com/empressgreeninc/?hl=en"class="btn btn-warning">Instagram</a> </p> <a href="https://www.empressgreen.com/"class="btn btn-warning">Website</a> <a href="https://twitter.com/EmpressGreenInc"class="btn btn-warning">Twitter</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/type88" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Type 88</h2>
                <p class="card-text collapse" id="viewdetails8">TYPE 88 is the brain child of a driven community looking to connect people for the greater good. Tune in to meet some emerging stars providing insight, inspiration and music to push towards a brighter future. This bi-weekly show will feature guests that are out in the world making a difference, people that are living the dream not just talking about it. This 2hr show is hosted by Dave Noodlez. He’ll be sharing the latest underground tracks from artists we love.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails8">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/cutpaste.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Cut + Paste</h2>
                <p class="card-text collapse" id="viewdetails2">Cut + Paste is a monthly talk show featuring both emerging and established voices in fiction, non-fiction, and poetry. Guests discuss and read from their work, and share the music they’ve selected for the show. Listen every third Saturday of the month at noon.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails2">Show Info</a> <a href="https://www.fiorestory.com"class="btn btn-warning">Website</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="#" alt="meow">
              </figure>
              <div class="card-content">
                <h2>It’s All About the Food</h2>
                <p class="card-text collapse" id="viewdetails10">It may not be the only thing but it’s all about the food. The ethics the science the cooking and the eating of it. With your host the sometimes sweet & the sometimes savory but always sizzling Steve Piazza.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails10">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>


          <!-- .card -->

        </section>
        <!-- .cards -->

      </div>
      <!-- .centered -->

    </main>
<style>
    body {font-family: sans-serif;}
    p {color: #333333;}

    h2 {
      font-size: 2em;
      color: #e74c3c;
    }
    .centered {
        margin: 0 auto;
        padding: 0 1em;
    }

    @media screen and (min-width: 52em) {
        .centered {
            padding-top: 35px;
            max-width: 82em;
        }
    }

    /*--------------------------------------------------------------
    Header styles minus menu
    --------------------------------------------------------------*/

    .masthead {
        background: #e74c3c;
        box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .site-title {
        margin: 0 0 1em;
        padding: 1em 0;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        color: black;
    }

    @media screen and (min-width: 44.44em) {
        .site-title {
            padding-top: 50px;
            font-size: 2em;
        }
    }

    @media screen and (min-width: 100em) {
        .site-title {
          padding-top: 50px;
            font-size: 2.5em;
        }
    }

    .site-title a {
        color: hsl(5, 45%, 95%);
        text-decoration: none;
    }

    .site-title a:hover {
        text-decoration: underline;
    }

    /* Card Based Layout - Base styles */
    body {
      background: #333333;
      line-height: 1.4;
    }

    .site-title {
      color: white;
    }

    .card {
      background: white;
      margin-bottom: 2em;
    }

    .card a {
      color: black;
      text-decoration: none;
    }

    .card a:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .card-content {
      padding: 1.4em;
    }

    .card-content h2 {
      margin-top: 0;
      margin-bottom: .5em;
      font-weight: normal;
    }

    .card-content p {
      font-size: 95%;
    }

    img {
      width: 100%;
      height: auto;
    }

    /* Flexbox styles */
    @media screen and (min-width: 40em) {
      .cards {
        padding-top: 50px;
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .card {
        margin-bottom: 1em;
        display: flex;
        flex: 0 1 calc(50% - 0.5em);
        width: calc(50% - 1em);
      }
    } /* mq 40em*/

    @media screen and (min-width: 60em) {
      .cards {
        padding-top: 50px;
        margin-top: inherit;
      }

      .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
        /* width: calc(33% - 1em); */
      }
    } /* mq 60em*/
</style>

<!--
    <div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/09/SIA-logo-final-RGB-black-lettering-300x159.png" alt="Card image cap" style="width: 75%; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">Creative Endeavors w/Staten Island Arts</h4>
          <p class="card-text collapse" id="viewdetails1">Creative Endeavors hopes to inform the community about Staten Island’s arts council, Staten Island Arts. The show will feature projects and opportunities connected to SI Arts as well as informing the community about all the programs SI Arts offers. The show will be used to highlight past SI Arts grantee projects along with informing people about upcoming grantee projects they can experience in their own neighborhoods. Through interviews with artists/creators/makers the show will explore the greatest benefits of exercising creativity. The expression of creative ideas and how that expression can lead to facing the fear of failure, building self-worth, and seeing the world differently.</p>
          <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/32-MakeHERspace-195x300.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
        <div class="card-block">
      <h4 class="card-title">MakeHERspace w/Magie</h4>
         <p class="card-text collapse" id="viewdetails9">In a time where female empowerment is both on the uprise but also very much in need, it is through the arts that a literal and metaphorical voice is created to engage the community. makeHERspace radio hour is an outlet to broadcast women from all walks of life such as artists, musicians, business owners, public figures, and more. Through interviews, stories, anecdotes, poetry, writing, and music, our goal is to showcase women and inspire and educate listeners. makeHERspace radio hour is created and hosted by Magie Serpica who has a dynamic list of achievements as a contributing member to the arts within the Staten Island community. Magie is a local artist, tattooer, business owner, curator, writer, musician and mother of two, and is an activist in the world of feminism and women’s rights.</p>
          <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails9">Show Info</a>
        </div>
        </div>
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/08/DJ-H20-300x225.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">DJ H20</h4>
        <p class="card-text collapse" id="viewdetails3">DJ H2O’s talk show is a radio segment discussing trending brands like Addias, Nike, Off-White, Supreme, Bape, etc. Additionally I’ll be performing and producing beats live on air, as well as latest music selections.

There will also be guests participating in the segment and in the future celebrity guests.

Stay tuned!</p>

          <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails3">Show Info</a> <a href="https://www.instagram.com/dj.h2o/?hl=en"class="btn btn-warning">Instagram</a> </p> <a href="http://www.djh20.com/"class="btn btn-warning">Website</a> </p>
        </div>
      </div>
      </div>
    </div>

<div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-300x300.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Nothing Personal</h4>
      <p class="card-text collapse" id="viewdetails4">Nothing Personal is an irreverent comedy & music show featuring Stephen Ignatious (of Cringeworthy Show and In Strange Company Podcast) and guests for a bi-weekly adventure with NYC’s hottest comics, artists, and performers and jams that will make your ears go “whoah!” and “what??” at the same time! Two hours of pure unadulterated chaos, comedy, and confusion!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats-300x227.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Podcats</h4>
    <p class="card-text collapse" id="viewdetails5">Attention cat lovers! Do you need a weekly dose of cats to get you through the week? Is your own cat just not cutting it?

Look no further! Tune in to Podcats to see fellow cat fanatics, and of course, their purr-fect cats! Listen meow!

Podcatsradionyc@gmail.com

</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="https://www.instagram.com/podcatsradio/"class="btn btn-warning">Instagram</a> </p>  <a href="https://www.podcats.nyc"class="btn btn-warning">Website</a> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Hip Hop Taught Me</h4>
     <p class="card-text collapse" id="viewdetails6">Hip Hop Taught Me is a monthly show that interviews emerging artists and producers about their musical influences. Artists will have an opportunity to promote their sound by curating half the show and discussing their selections.</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/966271_10153101945135058_1038322793_o-300x225.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Urban Farm Chat</h4>
      <p class="card-text collapse" id="viewdetails7">Host and Urban Farmer Asher Landes will explore all things farming, food and the role we all play in the future of our food system.

Every other Wednesday 4pm – 6pm</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails7">Show Info</a> <a href="https://www.instagram.com/empressgreeninc/?hl=en"class="btn btn-warning">Instagram</a> </p> <a href="https://www.empressgreen.com/"class="btn btn-warning">Website</a> <a href="https://twitter.com/EmpressGreenInc"class="btn btn-warning">Twitter</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/03-Type-88-300x300.png" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Type 88</h4>
    <p class="card-text collapse" id="viewdetails8">TYPE 88 is the brain child of a driven community looking to connect people for the greater good. Tune in to meet some emerging stars providing insight, inspiration and music to push towards a brighter future. This bi-weekly show will feature guests that are out in the world making a difference, people that are living the dream not just talking about it. This 2hr show is hosted by Dave Noodlez. He’ll be sharing the latest underground tracks from artists we love.</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails8">Show Info</a>
    </div>
  </div>
  <div class="card container">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/12-Cut-Paste-300x201.jpg" alt="Card image cap" style="width:75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cut + Paste</h4>
    <p class="card-text collapse" id="viewdetails2">Cut + Paste is a monthly talk show featuring both emerging and established voices in fiction, non-fiction, and poetry. Guests discuss and read from their work, and share the music they’ve selected for the show. Listen every third Saturday of the month at noon.</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails2">Show Info</a> <a href="https://www.fiorestory.com"class="btn btn-warning">Website</a> </p>
    </div>
  </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">It’s All About the Food</h4>
      <p class="card-text collapse" id="viewdetails10">It may not be the only thing but it’s all about the food. The ethics the science the cooking and the eating of it. With your host the sometimes sweet & the sometimes savory but always sizzling Steve Piazza.</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails10">Show Info</a> </p>
    </div>
  </div> -->

  <!-- <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails11">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails11">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails12">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails12">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div> -->
    </div>
  </div>
</div>
