<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
      {{attach_library('makerparktheme/active')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>

    <main class="main-area">

      <div class="centered">

        <section class="cards">

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/ASMT-300x300.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Art School Mixtape w/DJ Dari Queen</h2>
                <p class="card-text collapse" id="viewdetails1">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music. Here at Art School Mixtape, we don’t discriminate. New Wave, Hip Hop, Electronic, Fuzz Guitar, even Spoken Word. We touch all of it. Without permission.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/bimonthlydis.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h2>
                <p class="card-text collapse" id="viewdetails9">Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.
                  As there will be questions at the end of the program, please be sure to have your pens and pencils at the ready as we dig deep into the WTF bin, examine that fruit on air so you don’t have to, and then look forward to discussing what you got from it all, in our FB group or in a quick jab at our Twitter account.
                  Jason + Rudy fb.me/zeroitems.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails9">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/breakglassjazz.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Break In Case of Emergency Jazz</h2>
                <p class="card-text collapse" id="viewdetails4">“Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name, it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!

</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
                <img src="/sites/default/files/mprshows/catsgotsoul.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Cats Got Soul w/Kitty</h2>
                <p class="card-text collapse" id="viewdetails5"> Fat tracks from the 50s and 60s! Soul, R&B and Doo-Wop on 7″ vinyl.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="https://www.instagram.com/podcatsradio/"class="btn btn-warning">Instagram</a> </p>  <a href="https://www.podcats.nyc"class="btn btn-warning">Website</a> </p>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              </figure>
              <div class="card-content">
                <h2>Hip Hop Taught Me</h2>
                <p class="card-text collapse" id="viewdetails6">Hip Hop Taught Me is a monthly show that interviews emerging artists and producers about their musical influences. Artists will have an opportunity to promote their sound by curating half the show and discussing their selections.</p>
                 <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/urbanfarmchat.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Urban Farm Chat</h2>
                <p class="card-text collapse" id="viewdetails7">Host and Urban Farmer Asher Landes will explore all things farming, food and the role we all play in the future of our food system.

          Every other Wednesday 4pm – 6pm</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails7">Show Info</a> <a href="https://www.instagram.com/empressgreeninc/?hl=en"class="btn btn-warning">Instagram</a> </p> <a href="https://www.empressgreen.com/"class="btn btn-warning">Website</a> <a href="https://twitter.com/EmpressGreenInc"class="btn btn-warning">Twitter</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/type88.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Type 88</h2>
                <p class="card-text collapse" id="viewdetails8">TYPE 88 is the brain child of a driven community looking to connect people for the greater good. Tune in to meet some emerging stars providing insight, inspiration and music to push towards a brighter future. This bi-weekly show will feature guests that are out in the world making a difference, people that are living the dream not just talking about it. This 2hr show is hosted by Dave Noodlez. He’ll be sharing the latest underground tracks from artists we love.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails8">Show Info</a>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              <img src="/sites/default/files/mprshows/cutpaste.jpg" alt="meow">
              </figure>
              <div class="card-content">
                <h2>Cut + Paste</h2>
                <p class="card-text collapse" id="viewdetails2">Cut + Paste is a monthly talk show featuring both emerging and established voices in fiction, non-fiction, and poetry. Guests discuss and read from their work, and share the music they’ve selected for the show. Listen every third Saturday of the month at noon.</p>
                  <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails2">Show Info</a> <a href="https://www.fiorestory.com"class="btn btn-warning">Website</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>

          <article class="card">
            <a href="#">
              <figure class="thumbnail">
              </figure>
              <div class="card-content">
                <h2>It’s All About the Food</h2>
                <p class="card-text collapse" id="viewdetails10">It may not be the only thing but it’s all about the food. The ethics the science the cooking and the eating of it. With your host the sometimes sweet & the sometimes savory but always sizzling Steve Piazza.</p>
                <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails10">Show Info</a> </p>
              </div>
              <!-- .card-content -->
            </a>
          </article>


          <!-- .card -->

        </section>
        <!-- .cards -->

      </div>
      <!-- .centered -->

    </main>
  <style>
    body {font-family: sans-serif;}
    p {color: #333333;}

    h2 {
      font-size: 2em;
      color: #e74c3c;
    }
    .centered {
        margin: 0 auto;
        padding: 0 1em;
    }

    @media screen and (min-width: 52em) {
        .centered {
            padding-top: 35px;
            max-width: 82em;
        }
    }

    /*--------------------------------------------------------------
    Header styles minus menu
    --------------------------------------------------------------*/

    .masthead {
        background: #e74c3c;
        box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .site-title {
        margin: 0 0 1em;
        padding: 1em 0;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        color: black;
    }

    @media screen and (min-width: 44.44em) {
        .site-title {
            padding-top: 50px;
            font-size: 2em;
        }
    }

    @media screen and (min-width: 100em) {
        .site-title {
          padding-top: 50px;
            font-size: 2.5em;
        }
    }

    .site-title a {
        color: hsl(5, 45%, 95%);
        text-decoration: none;
    }

    .site-title a:hover {
        text-decoration: underline;
    }

    /* Card Based Layout - Base styles */
    body {
      background: #333333;
      line-height: 1.4;
    }

    .site-title {
      color: white;
    }

    .card {
      background: white;
      margin-bottom: 2em;
    }

    .card a {
      color: black;
      text-decoration: none;
    }

    .card a:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .card-content {
      padding: 1.4em;
    }

    .card-content h2 {
      margin-top: 0;
      margin-bottom: .5em;
      font-weight: normal;
    }

    .card-content p {
      font-size: 95%;
    }

    img {
      width: 100%;
      height: auto;
    }

    /* Flexbox styles */
    @media screen and (min-width: 40em) {
      .cards {
        padding-top: 50px;
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .card {
        margin-bottom: 1em;
        display: flex;
        flex: 0 1 calc(50% - 0.5em);
        width: calc(50% - 1em);
      }
    } /* mq 40em*/

    @media screen and (min-width: 60em) {
      .cards {
        padding-top: 50px;
        margin-top: inherit;
      }

      .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
        /* width: calc(33% - 1em); */
      }
    } /* mq 60em*/
  </style>
  </div>
</div>
