<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
      {{attach_library('makerparktheme/active')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>

<style>
    body {font-family: sans-serif;}
    p {color: #333333;}

    h2 {
      font-size: 2em;
      color: #e74c3c;
    }
    .centered {
        margin: 0 auto;
        padding: 0 1em;333333
    }


    /*--------------------------------------------------------------
    Header styles minus menu
    --------------------------------------------------------------*/

    /* Card Based Layout - Base styles */


    .site-title {
      color: white;
    }

    .card {
      background: white;
      margin-bottom: 2em;
    }

    .card a {
      color: black;
      text-decoration: none;
    }

    .card a:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }

    .card-content {
      padding: 1.4em;
    }

    .card-content h2 {
      margin-top: 0;
      margin-bottom: .5em;
      font-weight: normal;
    }

    .card-content p {
      font-size: 95%;
    }

    img {
      width: 100%;
      height: auto;
    }

    /* Flexbox styles */

</style>

    </div>
  </div>
