{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}

<div class="main-navigation">
{{page.main_navigation}}
</div>


<div class="header">
  {{ page.header }}
</div>


  <div class="livestream">
  <div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="true" class="embed-responsive-item" src="https://livestream.com/accounts/25937168/events/7713617/player?enableInfoAndActivity=true&amp;defaultDrawer=&amp;autoPlay=true&amp;mute=false"></iframe></div>


  <div class="carousel-item">
    <img src="..." alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h3>...</h3>
      <p>...</p>
    </div>
  </div>


{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}

  </div>









  {# /.layout-content #}

  {#    % if page.sidebar %}
       <aside class="layout-sidebar-first" role="complementary">
        { page.sidebar }}
       </aside>
     % endif %}

  #}
{# /.layout-container #}
