{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}
{{attach_library('makerparktheme/fullcalendar')}}
{{attach_library('makerparktheme/moment')}}


<div class="main-navigation">
{{page.main_navigation}}
</div>


<div class="header">
  {{ page.header }}
</div>






<div class="layout-content">
  
<div class="main-content">

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}



    {{ page.content }}

  <div id='calendar'></div>

</div>



  {# /.layout-content #}

  {#    % if page.sidebar %}
       <aside class="layout-sidebar-first" role="complementary">
        { page.sidebar }}
       </aside>
     % endif %}
     % if page.footer %}
       <footer role="contentinfo">
         { page.footer }}
       </footer>
     % endif %}
  #}
{# /.layout-container #}
