<script>$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
</script>


{{ attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}


{{page.main_navigation}}
{{ page.header }}

  <main role="main">

    <div class="main-navigation">

    </div>

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">

      {{ page.content }}


      <div id='calendar'></div>

    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
