<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
      {{attach_library('makerparktheme/active')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>

    <div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">Art School Mixtape w/DJ Dari Queen</h4>
          <p class="card-text collapse" id="viewdetails1">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music. Here at Art School Mixtape, we don’t discriminate. New Wave, Hip Hop, Electronic, Fuzz Guitar, even Spoken Word. We touch all of it. Without permission.</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse-</h4>
        <p class="card-text collapse" id="viewdetails2">Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of    suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.
        As there will be questions at the end of the program, please be sure to have your pens and pencils at the ready as we dig deep into the WTF bin, examine that fruit on air so you don’t have to, and then look forward to discussing what you got from it all, in our FB group or in a quick jab at our Twitter account.
        Jason + Rudy fb.me/zeroitems</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails2">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
        <div class="card-block">
         <p class="card-text collapse" id="viewdetails3">“Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name, it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails3">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
        </div>
      </div>
    </div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>
