<html>
  <head>
    <meta charset="utf-8">
    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}
      {{attach_library('makerparktheme/active')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>

    <div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/09/SIA-logo-final-RGB-black-lettering-300x159.png" alt="Card image cap" style="width: 75%; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">Creative Endeavors w/Staten Island Arts</h4>
          <p class="card-text collapse" id="viewdetails1">Creative Endeavors hopes to inform the community about Staten Island’s arts council, Staten Island Arts. The show will feature projects and opportunities connected to SI Arts as well as informing the community about all the programs SI Arts offers. The show will be used to highlight past SI Arts grantee projects along with informing people about upcoming grantee projects they can experience in their own neighborhoods. Through interviews with artists/creators/makers the show will explore the greatest benefits of exercising creativity. The expression of creative ideas and how that expression can lead to facing the fear of failure, building self-worth, and seeing the world differently.</p>
          <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails1">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
        </div>
      </div>
      <div class="card container">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/12-Cut-Paste-300x201.jpg" alt="Card image cap" style="width:75%; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">Cut + Paste</h4>
        <p class="card-text collapse" id="viewdetails2">Cut + Paste is a monthly talk show featuring both emerging and established voices in fiction, non-fiction, and poetry. Guests discuss and read from their work, and share the music they’ve selected for the show. Listen every third Saturday of the month at noon.</p>
          <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails2">Show Info</a> <a href="https://www.fiorestory.com"class="btn btn-warning">Website</a> </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/08/DJ-H20-300x225.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">DJ H20</h4>
        <p class="card-text collapse" id="viewdetails3">DJ H2O’s talk show is a radio segment discussing trending brands like Addias, Nike, Off-White, Supreme, Bape, etc. Additionally I’ll be performing and producing beats live on air, as well as latest music selections.

There will also be guests participating in the segment and in the future celebrity guests.

Stay tuned!</p>

          <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails3">Show Info</a> <a href="https://www.instagram.com/dj.h2o/?hl=en"class="btn btn-warning">Instagram</a> </p> <a href="http://www.djh20.com/"class="btn btn-warning">Website</a> </p>
        </div>
      </div>
      </div>
    </div>

<div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-300x300.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Nothing Personal</h4>
      <p class="card-text collapse" id="viewdetails4">Nothing Personal is an irreverent comedy & music show featuring Stephen Ignatious (of Cringeworthy Show and In Strange Company Podcast) and guests for a bi-weekly adventure with NYC’s hottest comics, artists, and performers and jams that will make your ears go “whoah!” and “what??” at the same time! Two hours of pure unadulterated chaos, comedy, and confusion!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats-300x227.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Podcats</h4>
    <p class="card-text collapse" id="viewdetails5">Attention cat lovers! Do you need a weekly dose of cats to get you through the week? Is your own cat just not cutting it?

Look no further! Tune in to Podcats to see fellow cat fanatics, and of course, their purr-fect cats! Listen meow!

Podcatsradionyc@gmail.com

</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="https://www.instagram.com/podcatsradio/"class="btn btn-warning">Instagram</a> </p>  <a href="https://www.podcats.nyc"class="btn btn-warning">Website</a> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Hip Hop Taught Me</h4>
     <p class="card-text collapse" id="viewdetails6">Hip Hop Taught Me is a monthly show that interviews emerging artists and producers about their musical influences. Artists will have an opportunity to promote their sound by curating half the show and discussing their selections.</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>

<div class="card-deck justify-content-center" style="width: 75%; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 20px;">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Cats Got Soul w/Kitty</h4>
      <p class="card-text collapse" id="viewdetails4">Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails4">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
    <p class="card-text collapse" id="viewdetails5">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails5">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 75%; height: 300px;">
    <div class="card-block">
     <p class="card-text collapse" id="viewdetails6">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
      <p><a class="btn btn-warning " data-toggle="collapse" data-target="#viewdetails6">Show Info</a> <a href="#"class="btn btn-warning">Instagram</a> </p>
    </div>
    </div>
  </div>
</div>
