{{attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}
{{attach_library('makerparktheme/moment')}}
{{attach_library('makerparktheme/fullcalendar'))}}

<header role="banner">
{{ page.header }}

<div class="main-navigation">

  {{page.main_navigation}}

</div>
</header>

<head>
{{attach_library('mprcalendar')}}
</head>

<body>

  <div id='calendar'></div>

</body>
