{{ attach_library('makerparktheme/bootstrap') }}
{{attach_library('makerparktheme/popper')}}

<header role="banner">
{{ page.header }}

<div class="main-navigation">

  {{page.main_navigation}}

  {{ page.content }}


</div>

</header>

<body>
  <center> <h1>About</h1> </center>
<style>
.embed-container
{ position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed
{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
<div class='embed-container'><iframe src='https://www.youtube.com/embed/QILiHiTD3uc' frameborder='0' allowfullscreen></iframe></div>




  <p>Maker Park Radio is dedicated to providing free music and live arts programming by broadcasting selected two hour shows via our website with video streaming and audio Mixcloud playback. It’s programming is diverse and inclusive of the many genres, communities and cultures surrounding it in Staten Island and beyond. It will broadcast 24 hours a day from Staten Island Makerspace and will maintain it’s commitment to the arts and community building through it’s broadcasts and participation in arts related community events when possible.

Maker Park Radio is committed to inclusiveness and bridging the gap between music styles, genders, ethnicities, ages and economic backgrounds through a mutual love and respect for music and artistic performance. We hope to create an environment where viewers and listeners feel engaged and interested in all we have to offer across multi-genre programming.

We intend to give voice to the arts community on Staten Island and create a space for artists to showcase their work. We encourage support of artists across mediums and genres and hope to champion talent and give value to curation and documentation of music and artistic history as well as the art of DJing.</p>
</body>
